@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

div.wrapper {
    display: flex;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.sim {
    position: relative;
    left: 100px;
}
div.sliders {
    width: 200px;
    transform: rotate(270deg);
    position: relative;
    left: 450px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;

    background: transparent;

    cursor: pointer;
    margin-bottom: 32px;
    width: 100%;
}
input[type="range"]::-webkit-slider-runnable-track {
    background-image: linear-gradient(90deg, rgb(0, 0, 0), var(--slider-color));

    height: 25px;
    border-radius: 100px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    margin-top: 0px;

    background-color: var(--slider-color);
    height: 25px;
    width: 25px;
    border-radius: 1000px;
    border: 2px solid rgb(255, 255, 255);
}

footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 14px 16px;
    float: left;
    width: 100%;
}
